*{
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

body {
    overflow: auto;
}
.flex{
    display:flex;
    align-items: center;
}





nav{
    max-width: 100%;
    gap: 55%;
    padding-bottom:2rem;
    position: relative;
}

nav a{
    text-decoration: none;
}

nav a li{
    list-style: none;
    color: black;
    font-weight: 500;
}

.ul-flex {
   
    justify-content: space-between;
    gap: 50px;
    padding-block: 39px;
}


.hero-text{
    color: white;
    position: absolute;
}


.left-col{
    background-color:#FFB83B;
    width: 50%;
    position: relative;
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: 70px;
    border-radius: 40px;
    margin-bottom: 3rem;
    margin-left: 2rem;
   

  
}

.asset1{
    width: 100%;
    /*height: 655px;*/
    overflow-x: hidden;
}



.hero-text{
    font-size: 4.5em;
    font-weight: 500;
    
    bottom:5rem;
    flex-wrap: wrap;
}


.sexy{
    color: white;
    font-size: 18px;
    font-weight: 500;
   
    bottom: 4rem;
}

.app-icon{
   
    bottom: 2rem;
    gap: 3%;
}


.ixe{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.btn{
    color: white;
    background-color:rgb(15, 13, 13);
    padding-block: 13px;
    padding-inline: 10px;
    font-size: 18px;
    border-radius: 50px;
}



header{
    gap: 2%;
}


.logo{
   position: absolute;
    left: 90px;
}

.sub-header{

    text-align: center;
    width: 100vw;
    color: white;
    background-color: #4F5CD1;
    padding-top:71px;
    padding-bottom:66px;
    font-weight:500;
    font-size:35px;

}

.fe{
    flex-direction: column;
    gap: 14px;
}


.fe-img{
    width: 219px;
height: 115px;

right: 40px;

}

.features{
    padding-block: 90px;
    gap: 100px;
    width: 100%;
    
}

.feature-2 h2{
    align-self: flex-start;
}



.call-to-action{
    flex-direction: column ;
    gap: 4.5rem ;
    width: 100%;
    position: relative;
    align-items: flex-start ;
    background-color: #D9FDE5 ;
    padding-bottom: 2rem !;
    padding-top: 6rem;
    padding-left: 6.8rem ;
    box-sizing: border-box;
    
}

.call-to-action p{
    position: absolute;
}

.call-to-action .btn{
    color: white;
    background-color:rgb(15, 13, 13);
    padding-block: 13px;
    padding-inline: 10px;
    position: absolute;
    font-size: 13px;
    border-radius: 50px;
}

.big{
   
    top: 1.5rem;
    position: absolute;
}

.signoff{
    padding-top: 88px;
    padding-bottom:57px;
    flex-direction: column;
    align-items: center ;
    padding-inline: 134px;
    gap: 1rem;
}

span{
    text-align: center;
    color:#00D615 ;
}

.note{
    text-align: center;
    
}
.left-column{
flex-direction: column;
text-align: left;
align-items: flex-start;
}


.right-column{
  justify-content: flex-end;
  gap:10px;
}


footer{
    box-sizing: border-box;
    gap:80%;
    background-color: black;
    padding-top: 38px;
    padding-bottom: 50px;
    position: relative;
    padding-inline: 100px;
    width: 100%;
}

.tagline{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    color: #818492;
}

.logo-footer{
    text-decoration: none;
    color: white;
    
}

.lol{
    color: #FFB83B;
}
.sub-footer{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 25px;
text-align: center;
color: rgba(255, 255, 255, 0.72);
width: 100%;
background-color: #414141;
}


li:hover{
    color:rgb(115, 111, 111)
}

.btn:hover{
    background-color:rgb(74, 72, 72);
}


::selection{
    color: orange;
   
   
}

body{
    transition: 0.2s ease-in-out;
}

.contact{
    margin-bottom: 20%;
    color: grey;
}

.haha{
    font-size: 20px;
    font-weight: normal;
    color: grey;
}

.nav-toggle{
    display: none;
}